/* 背景樣式 */
.banner {
    height: 450px;
    background-image: url("https://thehapp.com/build/assets/background-banner.e11c478c.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.banner h1 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
}

.search-form .row {
    height: 80px; /* 增加整體高度 */
    align-items: center;
    border-radius: 10px; /* 外框圓角 */
}

/* 每個欄位樣式 */
.search-form label {
    font-size: 14px;
    color: #555;
}

.search-form input::placeholder {
    color: #aaa;
    text-align: left;
}

/* 分隔線 */
.border-end {
    border-right: 1px solid #ddd;
    height: 50px;
}

/* 搜尋按鈕樣式 */
.search-form button {
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-form button:hover {
    background-color: #218838;
}








