/* ---home-footer-container--- */

.home-footer-container>div {
    background-image: url(background-footer-banner.23bf06cb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #e7e7e7;
    letter-spacing: .05em;
}

footer .main {
    font-size: 16px;
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: #000;
}

footer h3 {
    font-size: 16px;

}

footer .sub ul {
    padding: 0;
    font-size: 15px;
    margin: 0;
}

footer .sub ul li {
    list-style: none;
    padding: 10px 0;
}

@media screen and (max-width:991px) {
    footer .sub {
        border-bottom: 1px solid #908888;
        padding: 30px 0;

    }
}